.about-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    color: whitesmoke;
    text-align: center;

    background: rgba(255, 157, 0, 0.01);
    backdrop-filter: blur(8px);
}