.app-header {
    background-color: var(--clr2bg);
    color: var(--clr1);
    font-family: literata;

    border-radius: 5px;

    margin-bottom: 20px;
}

.header-container {
    display: flex;
    align-items: center;

    height: 80px;
}

.header-container h1 {
    flex-grow: 1;

    font-size: 2.5rem;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: var(--clr2);
    font-weight: 600;
}

