.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);

    color: var(--clr1);
    font-family: literata;

    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    gap: 40px;
}

.header-container h1 {
    font-size: 1.8rem;
}

.app-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}


a.active {
    color: var(--clr2);
    font-weight: 600;
}

.white {
    color: var(--clr2);
}