.app-header {
    background-color: var(--clr2bg);
    color: var(--clr1);

    border-radius: 5px;
}

.header-container {
    display: flex;
    align-items: center;

    height: 80px;
}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: var(--clr2);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
