.book-list{
    padding: 20px;
}

.book-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    border: 1px solid #eaeaea;
    position: relative;
    overflow: hidden;
}

.book-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.1);
    border-color: #d1d1d1;
}

.book-card img {
    width: 100%;
    aspect-ratio: 2 / 3; /* Standard book dimensions */
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 12px;
}

.book-card h3 {
    font-size: 1.1rem;
    margin: 0 0 5px 0;
    color: var(--clr);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Keeps long titles tidy */
    text-align: center;
}

.book-card p {
    font-size: 0.9rem;
    color: var(--clr2);
    margin: 0;

}

.book-card .price {
    font-weight: bold;
    margin-top: auto;
    padding: 10px;

    text-align: center;
}

.sale-badge {
    position: absolute;
    top: 15px;
    left: -30px;
    background: #e74c3c;
    color: white;
    padding: 5px 30px;
    transform: rotate(-45deg);
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-details {
    flex-grow: 1;
    background-color: #dda557;
    color: var(--clr2);
    border: 1px solid var(--clr1);
    padding: 8px 16px;
    border-radius: 20px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-details:hover {
    background-color: var(--clr1);
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-remove {
    background-color: #fce4e4; /* Soft red background */
    color: #e74c3c;
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%; /* Perfect circle */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 0;
    transition: background 0.2s, transform 0.2s;
}

.btn-remove:hover {
    background-color: #e74c3c;
    color: white;

}