.home {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: var(--clr2);
    text-align: center;

    background: var(--clrBg2);
    backdrop-filter: blur(8px);

    .welcome-container {
        padding: 20px;
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 15px;

        h2 {
            font-size: 3rem;
            margin-bottom: 20px;
        }
    }
}