.home {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: whitesmoke;
    text-align: center;

    background: rgba(255, 157, 0, 0.01);
    backdrop-filter: blur(8px);
}

.welcome-container {
    padding: 20px;
}

.home h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}