/* Typography */

@font-face {
    font-family: 'sedgwick';
    src: url(../../fonts/SedgwickAve-Regular.ttf);
}

@font-face {
    font-family: 'sedgwick display';
    src: url(../../fonts/SedgwickAveDisplay-Regular.ttf);
}