/* Typography */

@font-face {
    font-family: 'literata';
    src: url(../../fonts/Literata-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(../../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}