.main-layout {
    /* --gutter-width: 1.6em; */

    display: grid;
    grid-template-columns: 1fr 4fr;

    height: calc(100vh - 40px);
    overflow: hidden;

    border: 2px solid whitesmoke;
    border-radius: 30px;


    margin: 20px;
}

.container {
    height: 100%;
    overflow-y: auto;
}