*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/img/library.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: var(--clr2);
    font-family: roboto;

    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        interpolate-size: allow-keywords;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
    text-wrap: balance;
    font-family: literata;
}

p {
    max-width: 65ch;
    margin: 0 0 1em;
    text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a[class] {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    max-width: 100%;
    font: inherit;
}