*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

body {
    background-color: var(--clr1bg);
    color: var(--clr1);
    font-family: roboto
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        interpolate-size: allow-keywords;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
    text-wrap: balance;
    font-family: literata;
}

p {
    max-width: 65ch;
    margin: 0 0 1em;
    text-wrap: pretty;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a[class] {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    max-width: 100%;
    font: inherit;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;

    background: var(--clr2bg);
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: var(--clr1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}